:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    font-family: 'Cinzel', serif;

}
.contenedor{
    display: grid; 
    grid-template-columns: 0.5fr 0.5fr 0.5fr; 
    grid-template-rows: -0.5fr 0.5fr ; 
    
     grid-template-areas: 
    ".titulo. "
    "cuadrado triangulo circulo";
   
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}
.titulo { 
    display: grid;
    grid-area: titulo;
    justify-items: center;
    align-content: space-evenly; 
    border: 5px solid black;
    border-bottom: 5px;
    border-radius: 15px;
    border-top: 5px;
}

.cuadrado { 
    border-radius: 20px;
    border: 2px solid black;
    display: grid;
    grid-area: cuadrado; 
    justify-items: center;
    align-content: space-evenly;
    margin-right: 15px;
}
.cuadrado :nth-child(4){
     
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color:black; 
    font-size: 18px; 
    font-weight: 200; 
    text-align: center; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 5px; 
       

}
.cuadrado :nth-child(5){
    font-family: 'Cinzel', serif;
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: 3px;
    color: var(--white);
    width: 50%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.cuadrado :nth-child(6){
    font-family: 'Cinzel', serif;

    background-color: var(--hospital-green);
    border-radius: 8px;
    border: 3px;
    color: var(--white);
    width: 50%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.triangulo { 
    border: 2px solid black;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
    grid-area: triangulo; 
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px
}

.triangulo :nth-child(5), :nth-child(7), :nth-child(9), :nth-child(11) {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color:black; 
    font-size: 18px; 
    font-weight: 200; 
    text-align: center; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 5px; 
   
}

.triangulo :nth-child(12), :nth-child(13), :nth-child(14){
    font-family: 'Cinzel', serif;
    margin: 2px;
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: 3px;
    color: var(--white);
    width: auto;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    text-align: center;
}

.circulo { 
    border: 2px solid black;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-content: space-evenly;
    grid-area: circulo;
    margin-left: 15px; 
}

.circulo :nth-child(4){
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: black; 
    font-size: 18px; 
    font-weight: 200; 
    text-align: center; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 5px; 
}

.circulo :nth-child(5){
    font-family: 'Cinzel', serif;
    margin: 2px;
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: 3px;
    color: var(--white);
    width: auto;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    text-align: center;
}
.circulo :nth-child(6){
    font-family: 'Cinzel', serif;
    margin: 2px;
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: 3px;
    color: var(--white);
    width: auto;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    text-align: center;
}

.contenedor img{
    width: 30px;
}

@media (max-width: 640px) {
    .contenedor{
          display: grid;

            grid-template-columns: 0.5fr ;
            grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr;
            gap: 0px 0px;
            
            grid-template-areas:
              "titulo . ."
              "cuadrado . ."
              "triangulo . ."
              "circulo . .";
              align-items: end;
              justify-content: center;
          }
          
          .cuadrado { 
            grid-area: cuadrado; 
            margin: 10px;
        }
        .cuadrado :nth-child(5){
            margin: 2px;
            width: auto;
        }
        .cuadrado :nth-child(6){
            margin: 2px;
            width: auto;
        }
          
          .titulo { grid-area: titulo; }
          
          .triangulo { grid-area: triangulo; }
          
          .circulo { grid-area: circulo; }

    
    .titulo{
        text-align: center;
    }
          

    
}


